<p>Weekly Petroleum report</p>

<p></p>

<td>{{ data['dashboard_link'] }}</td>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ data['summary_table'] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-12"><p>{{ data['Crude Stocks'] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-12"><p>{{ data['Cushing Stocks'] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-12"><p>{{ data['Mogas Stocks'] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-12"><p>{{ data['Distillate Stocks'] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-12"><p>{{ data['Mogas Demand'] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-12"><p>{{ data['Distillate Demand'] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-12"><p>{{ data['Crude Supply'] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-12"><p>{{ data['Crude Exports'] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-12"><p>{{ data['Runs'] }}</p></div>
</div>