
<td><a href="proximo.energy.local/oil-reports/DOE/eia_monthly_drilling.html">Link to Dashboard</a></td>


<div class="row no-gutters">
    <div class="col-md-6"><p>{{ data['rig_charts'][6] }}</p></div>
    <div class="col-md-6"><p>{{ data['rig_charts'][7] }}</p></div>
</div>


<H4>Permian</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ data['duc_charts'][2] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ data['rig_charts'][4] }}</p></div>
    <div class="col-md-6"><p>{{ data['rig_charts'][5] }}</p></div>
</div>

<H4>Bakken</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ data['duc_charts'][0] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ data['rig_charts'][0] }}</p></div>
    <div class="col-md-6"><p>{{ data['rig_charts'][1] }}</p></div>
</div>

<H4>Eagle Ford</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ data['duc_charts'][1] }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ data['rig_charts'][2] }}</p></div>
    <div class="col-md-6"><p>{{ data['rig_charts'][3] }}</p></div>
</div>
