{% extends "base.html" %}
{% import "ea_macros.html" as m %}


{% block content %}

<H4>Runs & Stocks Build</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3331 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3332)  }}</p></div>
</div>

<H4>Stocks</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 1446 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 1481)  }}</p></div>
</div>


<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 1479 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 1480)  }}</p></div>
</div>

<H4>Demand</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3324 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3333 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3334 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3333 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3334 )  }}</p></div>
</div>


<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3335 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3336 )  }}</p></div>
</div>


<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3337 )  }}</p></div>

</div>


<H4>Total Import & Exports</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3325 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3336 )  }}</p></div>
</div>


<H4>Exports</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3338 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3339 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3340 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3341 )  }}</p></div>
</div>


<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3342 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3343 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3351 )  }}</p></div>

</div>

<H4>Imports</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3344 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3345 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3346 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3347 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3348 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3350 )  }}</p></div>
</div>

<H4>Refinery Supply</H4>


<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3358 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3359 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3360 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3361 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3362 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3363 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3352 )  }}</p></div>
</div>

<H4>Yields</H4>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3364 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3365 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3366 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3367 )  }}</p></div>
</div>

<div class="row no-gutters">
    <div class="col-md-6"><p>{{ m.chart(data, 3368 )  }}</p></div>
    <div class="col-md-6"><p>{{ m.chart(data, 3369 )  }}</p></div>
</div>


{% endblock %}